<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Titre</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/main.js" defer></script>
    <link rel="stylesheet" href="stylesheets/style1.css" />


<body>
    <h1>PFC</h1>

    <div id='main'>
        <div id="dp">
            <span id="dplay">waiting for another player ...</span>
        </div>
        <img class="main" id="csx" src="images/csx.png" />
        <img class="main" id="papier" src="images/papier.png" />
        <img class="main" id="piere" src="images/piere.png" />
    </div>
    <div>
        <span class="choice" id="yc">Votre choix : </span>
        <span class="choice" id="ac">choix adversaire : ... </span>
    </div>
</body>

</html>